---
import MainLayout from '../../layouts/MainLayout.astro'
import projects from '../../projects'
import Card from '../../layouts/Card.astro'
---

<MainLayout title='Tarmo'>
  <div class='py-4'>
    <ul class='gap-4 flex flex-row max-w-xl'>
      {
        projects.map((project) => (
          
          <li class='flex w-full flex-col'>
            <a href={project.href} rel='noreferrer' target='_blank'>
              <Card
                title={project.title}
                description={project.description}
                tags={project.tags}
                urlImage={project.urlImage}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>